@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');
#semCad{
  background-color: 0; 
}
h1{
    color: white;
}
h3{
    color: #00768B;
}
body{
    background-color: #E1A74A;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family:'League Spartan', sans-serif;
    font-size: xx-large;
    color: #177582;
}
div{
    border: solid;
    width: 300px;
    margin: 0 auto;
    border-width: 2px;
    background-color: #EEDEC7;
    border-radius: 50px;
    border: 0;
    padding: 5px;
    padding-bottom: 20px;
}
input{
    width: 200px;
    height: 30px;
    border-radius: 15px;
    font-size: medium;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    background-color:#3BBFB2;
    border: 0;
    margin: 5px;
}
button{
    width: 100px;
    height: 35px;
    border-radius: 25px;
    font-size: medium;
    font-family: 'League Spartan', sans-serif;
    border: 0;
    background-color:#177582;
    
}
input::placeholder {
    color: black;
}

#cadastr{
    font-size: medium;
    font-family: 'League Spartan', sans-serif;
    color: #F0F0F2;
}